<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.104.2" targetFramework="net472" />
  <package id="ClosedXML.Parser" version="1.2.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.1.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.1" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.7.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.7.0" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="RBush" version="4.0.0" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="Syncfusion.Chart.Base" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Chart.Windows" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.ExcelChartToImageConverter.WPF" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Grid.Base" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Grouping.Base" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.SfChart.WPF" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.SpellChecker.Base" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Spreadsheet.Windows" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.SpreadsheetHelper.Windows" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Tools.Base" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.Tools.Windows" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.WinForms" version="29.1.41" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="29.1.41" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="9.0.4" targetFramework="net472" />
</packages>